html {
  box-sizing: border-box;
}

body {
  background-color: #15151c;
  color: #ede9dd;
  font-family: system-ui, sans-serif;
  font-weight: normal;
  margin: 0;
}

a:link {
  color: red;
}

a:visited {
  color: green;
}

a:hover {
  color: hotpink;
}

a:active {
  color: crimson;
}